.recipeFlexBox{
    display: flex;
    justify-content: center;
}

main {
    text-align: center;
}


/* List of Recipes */
.ulist {
    list-style-position: inside;
    text-align: center;
}

.ulist, .recipe {
    display:inline;
    text-align: center;
}

.recipe {
    color: black;
    text-align: center;
}

.rec-but{
    color: white;
    text-decoration: none;

    border-radius: 10px;
    border: 5px solid #EFA282;
    box-shadow: 1px 1.5px;
    padding: 5px;
    font-family: roboto;

    font-weight: normal;
    font-size: 20px;
    


    background-color: #EFA282;
    margin: 5px;
}

/* Image*/
.shef {
    margin-bottom: 20px;
}

body {
    background-color: #fdfaf1;
}


/* For Recipes folder */

.all-desk {
    text-align: left;
}


.content {
    justify-content: center;
    text-align: left;
    list-style-position: inside;
    padding-left: 500px;
    padding-right: 500px;
}

.header1 {
    text-align: center;
    text-decoration: underline;
}

.home-but {
    color: white;
    text-decoration: none;

    border-radius: 10px;
    border: 5px solid #EFA282;
    box-shadow: 1px 1.5px;
    padding: 5px;
    font-family: roboto;

    font-weight: normal;
    font-size: 20px;
    

    background-color: #EFA282;
    margin-top: 100px;
    
}